{
  "Parameters" : {
    "pBuild"                : "{{ codebuild_build_number }}",
    "pCleanBranch"          : "{{ clean_branch }}",
    "pClusterOidcIssuerUrl" : "{{ cluster_oidc_issuer_url }}",
    "pEnvironment"          : "{{ environment }}",
    "pOidcConnectProvider"  : "{{ oidc_connect_provider }}",
    "pProductName"          : "{{ product_name }}",
    "pServiceAccountName"   : "{{ service_account_name }}",
    "pCognitoStackName"     : "{{ cognito_stack_name }}",
    "pAppClientDomain"      : "{{ app_client_domain }}",
    "pSecretName"           : "{{ secret_name }}",
    "pDefaultLogoutUrl"     : "{{ default_logout_redirect_url }}"
  },
  "Tags" : {
    "product"     : "{{ product_name }}",
    "component"   : "{{ product_component }}",
    "environment" : "{{ environment }}",
    "branch"      : "{{ src_branch }}",
    "version"     : "{{ commit_id }}",
    "build"       : "{{ codebuild_build_number }}"
  },
  "StackPolicy" : {
    "Statement" : [
      {
        "Effect" : "Allow",
        "Action" : "Update:*",
        "Principal": "*",
        "Resource" : "*"
      }
    ]
  }
}
